<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="analyze" Match="NavLinkMatch.All">
                Analyze CSV
            </NavLink>
        </li>
    </ul>
</nav>

<style>
    .nav-link.active {
        font-weight: 600;
    }
</style>
